.register-wrapper{
    width: 100% !important;

    box-shadow: 0px 0px 3px #00000095;
}

/* ###### password field ###### */
.register-password input {
    width: 97%;
    outline: none;
    color: #1b1818;
}

.register-password{
    border: 1px solid #c5c3c3;
    transition: 0.1s ease;
}

/* When the input inside is focused */
.register-password:has(input:focus) {
    border: 1px solid #000000;
}

/* #### college name #### */
.register-card .MuiAutocomplete-inputRoot {
  padding: 0 8px !important; 
  border: none !important;
}

/* When input is focused */
.register-card .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid #000 !important; /* active border color */
}

/* ##### year of studying ##### */
.register-card select:focus{
    box-shadow: none !important;
    border: 1px solid #000 !important;
}



/* ########### MQ ################ */

@media (min-width:576px) {

    .register-wrapper{
        max-width: 75% !important;
    }
}

@media (min-width:768px) {
    .register-wrapper{
        max-width: 70% !important;
    }
}

@media (min-width:992px) {
    .register-wrapper{
        max-width: 65% !important;
    }
}

@media (min-width:1200px) {
    .register-wrapper{
        max-width: 700px !important;
    }
}
