/* justify-content: flex-end; */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
}

.home-header{
  background: #133457;
}

.container{
  max-width: 1320px;
  margin:auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  align-items: center; 
  justify-content: space-between;
  padding: 10px;
}


.logo-title {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-title img{
  width: 80px;
  border-radius: 15%;
}

.web-title{
  color: #ffffffe6;
  display: flex;
  padding-left: 10px;
}

.right-part{
  display: flex;
  flex-wrap: wrap;
}

.menu-bar{
  display: flex;
  align-items: center;

}

.menu-bar li{
  color: #ffffffe6;
  cursor: pointer;
  margin:20px
}

.home-buttons{
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 20px;
  justify-content: space-between;
}

.register_button a/* here a is for anchor tag os that the underline stuff can be removed*/{
  background-color: #dc2626; 
  color: #ffffff; 
  font-weight: 600; 
  padding: 10px 15px; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); 
  transition: all    0.3s ease-in-out; 
  transform: scale(1); 
  width: 60px; 
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.register_button:hover a{
  background-color: #b91c1c;
  transform: scale(1.05); 
}

.Login-button a/* here a is for anchor tag os that the underline stuff can be removed*/{
  background-color: #dc2626; 
  color: #ffffff; 
  font-weight: 600; 
  padding: 10px 15px; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); 
  transition: all    0.3s ease-in-out; 
  transform: scale(1); 
  width: 60px; 
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.Login-button:hover a{
  background-color: #b91c1c;
  transform: scale(1.05); 
}
