html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Wrap the whole page */
#root,
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*full viewport*/
}

/* Main expands to push footer down */
main {
  flex: 1;
}